* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
    display: grid;
    padding-right: 14%;
    padding-left: 14%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax();
    
}

.box1 {
    grid-column: 1/span 2;
    text-align: center;
    background: linear-gradient(360deg, rgb(10, 10, 10), rgb(32, 60, 92));
    color: white;
}

.ProfileImage {
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 50%;
    border: 2px ridge white;
}
.ProfileIcons {
    margin: 10px;
    padding-top: 20px;
    font-size: 50px;
}

a {
    padding-left: 10px;
    color: white;
}

.box2 {
    grid-column: 1/span 2;
    text-align: justify;
    background: linear-gradient(45deg,rgba(135, 182, 235, 0.466), rgba(180, 180, 180, 0.377));
    line-height: 1.4;
    font-size: 17px;
}

.box2 p {
    padding-left: 15px;
}